.git
.gitignore
.dockerignore

.env
*.env

__pycache__/
*.py[cod]
*.pyo
*.pyd

.vscode/
images/

*.log
*.tmp
*.swp

*.pgm
*.png

distributed_services/input_storage/
distributed_services/output_storage/
distributed_services/processor_storage/

downloaded_edge.*
output_test.pgm
